body {
  background-color:#1d1d1d !important;
  font-family: "Asap", sans-serif;
  color:#989898;
  margin:10px;
  font-size:16px;
  line-height: 2;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 20px 0;
}

#nav {

    position: relative;
    left: 0px;
    height: 60px;
    width: 100%;
    text-align: center;
}
#nav ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}
#nav ul li {
    margin: 0;
    padding: 0;
    float:left;
}
#nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    color:#989898;
    text-align: center;
}
#nav ul li a:hover {
  background-color: #555;
  color: white;
}

#artistas {
  display: table;
  margin:0 auto;
  list-style-type: none;

}


#artistas li a {
  color:#989898;
  font-size: 30px;
}

div.pagination a {
  color:#989898;
}

.custom-centered{
 margin:40px auto;
 width:575px;
}

a {
  color:#989898;
}

#demo {
  height:100%;
  position:relative;
  overflow:hidden;
}


.green{
  background-color:#6fb936;
}
        .thumb{
            margin-bottom: 30px;
        }

        .page-top{
            margin-top:85px;
        }


img.zoom {
    width: 100%;
    height: 200px;
    border-radius:5px;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}


.transition {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
    .modal-header {

     border-bottom: none;
}
    .modal-title {
        color:#000;
    }
    .modal-footer{
      display:none;
    }
