{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
      Galería principal
      {% endblock %}

    </title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <link rel="stylesheet" href="{% static 'catalogo/css/styles.css' %}">
    <script src="{% static 'catalogo/js/js.js' %}"></script>
    <link rel="text/javascript" href="{% static 'catalogo/js/js.js' %}">
  </head>
  <body>

    <div class="container page-top">
      {% block sidebar %}
      <nav class="navbar navbar-expand-sm">
        <div id="nav" >


        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'autores' %}">Artistas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'autor_create' %}">Agregar artista</a>
          </li>

        </ul>
        </div>

      </nav>
      {% endblock %}

      {% block titulo %}
      {% endblock %}

      {% block content %}
      {% endblock %}
       <div class="row">
         {% block galeria %}
         {% endblock %}

       </div>
       {% block pagination %}
          {% if is_paginated %}
              <div class="pagination">
                  <span class="page-links">
                      {% if page_obj.has_previous %}
                          <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}"><<</a>
                      {% endif %}
                      <span class="page-current">
                          {{ page_obj.number }} | {{ page_obj.paginator.num_pages }}.
                      </span>
                      {% if page_obj.has_next %}
                          <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">>></a>
                      {% endif %}
                  </span>
              </div>
           {% endif %}
        {% endblock %}


   </div>

  </body>
</html>
